
@{
    ViewData["Title"] = "Sliders";
}

@model List<Slider>

<div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Sliders</h4>
                  <a asp-action="Create" class="btn btn-primary">Create</a>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Title</th>
                          <th>Offer</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var slider in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Assets/Images/website-images/@slider.Image">
                                        </td>
                                        <td>@slider.Title</td>
                                        <td>@slider.Offer</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Detail">Detail</a>
                                            <a class="btn btn-warning" asp-action="Update">Update</a>
                                            <a class="btn btn-danger" asp-action="Delete">Delete</a>
                                        </td>
                                    </tr>
                                }
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

